[MESSAGES CONTROL]

disable=missing-docstring,locally-disabled,locally-enabled


[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html. You can also give a reporter class, eg
# mypackage.mymodule.MyReporterClass.
output-format=colorized

# Tells whether to display a full report or only the messages
reports=yes


[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=FIXME,XXX


[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,db,ns,ex,Run,_,logger
