<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rll_gazebo" params="robot_name">

    <!-- Link Table -->
    <gazebo reference="table">
      <mu1>10.0</mu1>
      <mu2>10.0</mu2>
      <maxVel>0.0</maxVel>
      <selfCollide>true</selfCollide>
    </gazebo>

  </xacro:macro>

</robot>
