<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="rll_transmission" params="hardware_interface robot_name">

    <!-- gripper right transmissions -->
    <transmission name="$(arg robot_name)_tran_8">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="$(arg robot_name)_egl_position_left">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="$(arg robot_name)_motor_8">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <!-- gripper left transmissions -->
    <transmission name="$(arg robot_name)_tran_9">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="$(arg robot_name)_egl_position_right">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="$(arg robot_name)_motor_9">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    </transmission>
    </xacro:macro>
  </robot>
