<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rll_virtual">

    <!-- virtual walls -->
    <!-- the front wall is exactly at the border of the table while the other -->
    <!-- walls are moved 7cm away from the table border towards the world frame. -->
    <!-- The Sunrise collision model uses spheres which is a lot less accurate -->
    <!-- than the MoveIt collision model. To account for the differences, this -->
    <!-- 7cm offset is introduced. -->
    <!-- TODO: The front wall stays at the border because otherwise current Playground -->
    <!--       project code would break. But the wall also needs to be moved inside when -->
    <!--       something gets mounted to the front part of the table. -->

    <joint name="wall_joint1" type="fixed">
      <parent link="world" />
      <child link="wall_front" />
      <origin xyz="0.605 0 0.7" rpy="0 0 0"/>
    </joint>
    <joint name="wall_joint2" type="fixed">
      <parent link="world" />
      <child link="wall_back" />
      <origin xyz="-0.535 0 0.7" rpy="0 0 0"/>
    </joint>
    <joint name="wall_joint3" type="fixed">
      <parent link="world" />
      <child link="wall_left" />
      <origin xyz="0 -0.735 0.7" rpy="0 0 0"/>
    </joint>
    <joint name="wall_joint4" type="fixed">
      <parent link="world" />
      <child link="wall_right" />
      <origin xyz="0 0.735 0.7" rpy="0 0 0"/>
    </joint>

    <link name="wall_front">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.01 1.6 1.4" rpy="0 0 0"/>
        </geometry>
      </collision>
    </link>
    <link name="wall_back">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.01 1.6 1.4" rpy="0 0 0"/>
        </geometry>
      </collision>
    </link>
    <link name="wall_left">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="1.2 0.01 1.4" rpy="0 0 0"/>
        </geometry>
      </collision>
    </link>
    <link name="wall_right">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="1.2 0.01 1.4" rpy="0 0 0"/>
        </geometry>
      </collision>
    </link>

      <material name="transparent">
        <color rgba="0.8784 0.8745 0.8588 0.3"/>
      </material>

  </xacro:macro>

</robot>
