<?xml version="1.0"?>
<launch>
  <arg name="use_sim" default="true"/>

  <include file="$(find rll_moveit_config)/launch/moveit_planning_execution.launch">
    <arg name="use_sim" value="$(arg use_sim)"/>
    <arg name="output" value="log"/>
  </include>
  <include file="$(find rll_move)/launch/move_iface.launch"></include>

</launch>
