<?xml version="1.0"?>
<launch>
  <arg name="robot" default="iiwa" />
  <arg name="no_gripper" default="false"/>
  <arg name="job_execution_timeout" default="600"/>
  <arg name="collision_link" default="world" />

  <node ns="$(arg robot)" name="move_iface" pkg="rll_move" type="move_iface_full" respawn="false" output="screen">
    <param name="no_gripper" value="$(arg no_gripper)"/>
    <param name="job_execution_timeout" value="$(arg job_execution_timeout)"/>
    <param name="collision_link" value="$(arg collision_link)"/>
    <remap from="/use_sim_time" to="/$(arg robot)/use_sim_time" />
    <remap from="/clock" to="/$(arg robot)/clock" />
  </node>

</launch>
