<?xml version="1.0"?>
<launch>
  <arg name="robot" default="iiwa" />
  <arg name="no_gripper" default="false"/>

  <node ns="$(arg robot)" name="move_iface" pkg="rll_move" type="move_iface_full" respawn="false" output="screen">
    <param name="no_gripper" value="$(arg no_gripper)"/>
    <remap from="/clock" to="/$(arg robot)/clock" />
  </node>

</launch>
