<?xml version="1.0"?>
<launch>

    <arg name="hardware_interface" default="PositionJointInterface" />
    <arg name="robot_name" default="iiwa" />
    <arg name="description_file" default ="$(find rll_description)/urdf/rll_main.urdf.xacro" />
    <arg name="headless" default="false"/>

    <!-- Loads the Gazebo world. -->
    <include file="$(find rll_gazebo)/launch/rll_world.launch">
        <arg name="hardware_interface" value="$(arg hardware_interface)" />
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="description_file" value="$(arg description_file)" />
        <arg name="headless" value="$(arg headless)" />
    </include>

    <!-- Spawn controllers - it uses a JointTrajectoryController -->
    <group  ns="$(arg robot_name)" >

        <include file="$(find rll_control)/launch/rll_control.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="controllers" value="joint_state_controller $(arg hardware_interface)_trajectory_controller PositionJointInterface_gripper_controller" />
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

    </group>

</launch>
