<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="iiwa"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/$(arg robot_name)/source_list">[move_group/fake_controller_joint_states]</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="joint_states" to="/$(arg robot_name)/joint_states" />
    <param name="ignore_timestamp" type="bool" value="true"/>
  </node>

</launch>
