<?xml version="1.0"?>
<launch>
  <arg name="hardware_interface" default="PositionJointInterface"/>
  <arg name="robot_name" default="iiwa"/>
  <arg name="eef_type" default="egl90" />

  <arg name="headless" default="false"/>
  <arg name="gazebo_gui" default="false"/>
  <arg name="use_sim" default="true"/>
  <arg name="gazebo_port" default="11345"/>
  <arg name="description_file" default ="$(find rll_description)/urdf/rll_main.urdf.xacro" />
  <arg name="semantic_description_file" default ="$(find rll_moveit_config)/config/rll_cell.srdf.xacro" />
  <arg name="rviz_config" default ="$(find rll_moveit_config)/launch/moveit.rviz" />
  <arg name="output" default="screen"/>

  <remap from="/$(arg hardware_interface)_trajectory_controller/follow_joint_trajectory"
         to="/$(arg robot_name)/$(arg hardware_interface)_trajectory_controller/follow_joint_trajectory" />  
  <remap from="robot_description" to="/$(arg robot_name)/robot_description" />
  <remap from="/get_planning_scene" to="/$(arg robot_name)/get_planning_scene" />

  <!-- TODO(mark): not needed if there is no gripper attached -->
  <remap from="/PositionJointInterface_$(arg eef_type)_gripper_controller/follow_joint_trajectory"
         to="/$(arg robot_name)/PositionJointInterface_$(arg eef_type)_gripper_controller/follow_joint_trajectory" />

  <!-- remaps for Gazebo -->
  <remap from="/gazebo/set_physics_properties" to="/$(arg robot_name)/gazebo/set_physics_properties" />
  <remap from="/gazebo/get_physics_properties" to="/$(arg robot_name)/gazebo/get_physics_properties" />
  <remap from="/gazebo/spawn_urdf_model" to="/$(arg robot_name)/gazebo/spawn_urdf_model" />
  <remap from="/use_sim_time" to="/$(arg robot_name)/use_sim_time" />
  <remap from="/clock" to="/$(arg robot_name)/clock" />


  <group ns="$(arg robot_name)">

    <!-- Run the robot within a Gazebo simulation and with ROS Control. -->
    <include if="$(arg use_sim)" file="$(find rll_gazebo)/launch/rll_gazebo.launch">
      <arg name="hardware_interface" value="$(arg hardware_interface)"/>
      <arg name="robot_name" value="$(arg robot_name)" />
      <arg name="eef_type" value="$(arg eef_type)"/>
      <arg name="description_file" value="$(arg description_file)" />
      <arg name="headless" value="$(eval not arg('gazebo_gui'))" unless="$(arg headless)" />
      <arg name="gazebo_port" value="$(arg gazebo_port)"/>
    </include>

  <!-- Load move_group -->
    <include file="$(find rll_moveit_config)/launch/move_group.launch">
      <arg name="output" value="$(arg output)"/>
      <arg name="allow_trajectory_execution" value="true"/>
      <arg name="publish_monitored_planning_scene" value="true" />
      <arg name="hardware_interface" value="$(arg hardware_interface)"/>
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="eef_type" value="$(arg eef_type)"/>
      <arg name="description_file" value="$(arg description_file)" />
      <arg name="semantic_description_file" value="$(arg semantic_description_file)" />
      <arg name="fake_execution" value="true" unless="$(arg use_sim)" />
    </include>

    <include unless="$(arg use_sim)" file="$(find rll_moveit_config)/launch/fake_state.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <include unless="$(arg headless)" file="$(find rll_moveit_config)/launch/moveit_rviz.launch">
      <arg name="command_args" value="-d $(arg rviz_config)" />
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
  </group>

</launch>
