<?xml version="1.0"?>
<launch>
  <arg name="robot" default="iiwa" />
  <arg name="only_idle" default="false"/>
  <arg name="timeout" default="5"/>
  <arg name="authentication_secret" default=""/>

  <node ns="$(arg robot)" name="rll_project_runner" pkg="rll_tools" type="project_runner.py" output="screen" respawn="false">
        <param name="only_idle" value="$(arg only_idle)"/>
        <param name="timeout" value="$(arg timeout)" />
        <param name="authentication_secret" value="$(arg authentication_secret)" />
  </node>

</launch>
